<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="/static/test.S.css">
</head>
<body>
    <div class="container">
        <h1>Select Your Role</h1>
        <div class="selection">
            <div class="role teacher">
                <img src="/static/pngtree-teachers-day-characters-png-image_6740168.png" alt="Teacher" class="role-image">
                <button class="role-button" onclick="window.location.href='/testRegisT'">Teacher</button>
            </div>
            <div class="role student">
                <img src="/static/cartoon-graduate-students-icon-free-png.png" alt="Student" class="role-image">
                <button class="role-button" onclick="window.location.href='/testRegisterS'">Student</button>
            </div>
        </div>
    </div>
</body>
</html>
